.remaining-chars {
  display: flex;
  height: 8rem;
  gap: 2rem;
}
.sprite-wrapper {
  width: 4rem;
  height: 6rem;
  &.clicked {
    opacity: 0.2;
  }
  img {
    object-fit: contain;
    max-height: 100%;
    display: block;
    margin: 0 auto;
  }
}
